<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta atque a illo perspiciatis, ex dignissimos qui reiciendis assumenda nemo ducimus voluptate quaerat quisquam officiis maxime nihil, quas cupiditate expedita. Non suscipit ipsam nisi labore? Ducimus perferendis natus eveniet doloribus.</p>
  </div>
</div>