<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  <h3 class="my-4"></h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda alias dignissimos nulla laboriosam sit. Voluptate ab dignissimos quaerat consectetur libero odit perspiciatis, facere quos sequi incidunt totam sunt, ipsam quis.</p>
  <a href="https://github.com/Nahu995" class="btn btn-primary btn-lg ">Nahu995</a>
</div>